<div class="page-header">
    <h1>Assets</h1>
</div>

<div class="container-fluid">
    <div class="col-xs-12 col-md-8 asset-list">
        <form ng-submit="search()" class="form-inline" role="form" style="margin: .3em 0 3em 0">
            <div class="form-group">
                <label class="sr-only">Search</label>

                <div class="input-group">

                </div>
            </div>
        </form>
        <div class="btn-toolbar" role="toolbar" style="margin: 1em 0">
            <div class="btn-group">
                <button ng-click="paginatePrev()" ng-disabled="!paginationInfo.hasPrev" class="btn btn-default">Prev
                </button>
                <button ng-click="paginateNext()" ng-disabled="!paginationInfo.hasNext" class="btn btn-default">Next
                </button>
            </div>
        </div>
        <ul>
            <li ng-repeat="a in assets">
                <a href="#/assets/{{a.asset_id}}">{{a.name}}</a>

            </li>
        </ul>

        <div class="btn-group">
            <button ng-click="paginatePrev()" ng-disabled="!paginationInfo.hasPrev" class="btn btn-default">Prev</button>
            <button ng-click="paginateNext()" ng-disabled="!paginationInfo.hasNext" class="btn btn-default">Next</button>
        </div>
    </div>
    <div class="col-xs-6 col-md-4">
        <p class="text-right">
            <a href="ä/create-Asset">Create Asset</a>
        </p>
    </div>
</div>